.btn {
  display: block;
}

#csharp{
  display: none;
}
#java{
  display: none;
}
#php{
  display: none;
}
#ruby{
  display: none;
}
#css{
  display: none;
}
#design{
  display: none;
}
.sug{
  display: none;
}


h1{
text-align: center;
}


.p1{
  font-weight: bold;
}
.radio{
  font-size: 10px;
}