.btn {
  display: block;
}

#csharp{
  display: none;
}
#java{
  display: none;
}
#php{
  display: none;
}
#ruby{
  display: none;
}
#css{
  display: none;
}
#design{
  display: none;
}
#bootstrap{
  display: none;
}
#javascript{
  display: none;
}
.sug{
  display: none;
}
h1{
text-align: center;
}
.p1{
  font-weight: bold;
}
.radio{
  font-size: 15px;
}
body{
  background-color: #eddee9;
}
.jumbotron{
  margin-top: 30px;
  margin-left: 30px;
  padding :10px;
  color: green;
  font-weight: bold;
}
.p1{
  color: red;
  font-size: 18px;
}
